/* CREANDUM */

/* MENU */
.navbar{
  min-height: 60px;
  padding-top:5px;
  border:0;
  box-shadow: none;
}
.navbar-default .navbar-nav>li>a{
  font-size:13px;
}
#menu-menu{
  float:right;
}
.navbar-default .navbar-brand {
  font-weight: bold;
  text-transform: uppercase;
}

/* AJAX NAV */
#hidden_content{
  display: none;
}
.portrait_list{
  width:100%;
}

/* LIST TEAM & INVESTMENT */
.portrait_list img{
  width:100%;
}
.clear{
  clear:both;
}
.padblock{
  padding:90px 0;
}

/* DISPLAY CONTENT TEAM INVESTMENT */
.big-image-container{
  background-position: center center;
  background-color: #f1f1f1;
  background-image: url("images/creandum-big-backup.jpg");
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 420px;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all  0.15s ease;
  -o-transition:  all 0.15s ease; 
  -webkit-transition-delay: 0.35s; /* Safari */
  -moz-transition-delay: 0.35s; /* Safari */
  transition-delay: 0.35s; /* Safari */
}
.page-header{
  border:0;
  margin:0 0 10px 0px;
}
.post_content,.lead{
  font-size:17px;
  line-height: 30px;
}
.related_posts{
  margin:20px 0;
}
.relabel{
  font-weight: bold;
  color:#000;
}
.related_posts a{
  color:#3da954;
}
.sideblock{
  margin:0px 30px 15px 30px;
}
.sideblock a{
  color:#3da954;
  font-weight: normal;
}
.sideblock a:hover{
  text-decoration: none;
}

.sidehead{
  margin-bottom:2px;
  height:40px;
  text-align: center;
}
.sideblock div.fill{
   background-color:#edf3ef;
}
.sideicon{
   padding:10px;
  float:left;
  margin-right:2px;
  width:40px;
  height: inherit;
}
.sidetopic{
  padding:10px; 
  margin-left:42px;
  height: inherit;
  color:#3da954;
}
.sidecontent{
  padding:15px;
  font-weight: bold;
}
.sidecontent a{
  color:#111;
}
/* ALIGNS */
.center{
  text-align: center;
}

/* COLOR */
.lightgreen_bg{
  background-color: #edf3ef;
}



/* NEWS */
div.news{
  height:107px;
  width:100%;
  background-color: #FFF;
  border-bottom:1px solid #F1F1F1;
}
.news .left{
  max-width: 107px;
  max-height:107px;
  width:20%;
  display: inline-block;
  float:left;
}
.news .left img{
  width: 100%;
}
.news .text{
  display: inline-block;
  width:63%;
  height:100px;
  margin-top:0;
  padding-top:0; 
}
.news .text a{
  color:#3da955;
}
.news .text .textc{
  padding:25px 0px 0 40px;
}
.news .text h3{
  font-size:19px;
}
.news .right{
  width: 12%;
  background-image: url("img/icons/arrow_right.png");
  background-position: center center;
  background-repeat: no-repeat;
  float:right;
  height: inherit;
}
.news .right i{
  padding-left:12px;
}